@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');



:root {
  --mainFont: 'Source Sans Pro';
  --color-1: #eca3f5;
  --color-2: #fdbaf8;
  --color-3: #b0efeb;
}

html,
body {
  padding: 0;
  margin: 0;
}
h1, h2 {
  font-family: var(--mainFont);
}
span.s-letter {
 font-family: Sacramento; 
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

